.header {
    display: flex;
    align-items: center;
    background-color: #2d3ab1;
    color: white;
    padding: 10px 20px;
  }
  
  .logo-container {
    margin-right: auto;
  }
  
  .logo {
    height: 40px;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .nav-links .job-hunt {
    color: white;
    text-decoration: none;
    padding: 50 px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    margin-left: 5 px;
  }
  
  .header-link, .header-button {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    align-items: center;
  }

  .header-link:hover {
    background-color: #43c2c2;
  }

  .header-button {
    background-color: #2d3ab1;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .header-button:hover {
    background-color: #43c2c2;
  }
  