.footer {
    background-color: #4762da;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo img {
    height: 50px; 
}

.footer-text {
    margin-left: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

.footer-links {
    display: flex;
    align-items: flex-start; 
    justify-content: flex-start;
}

.footer-link {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    margin-right: 20px;
    cursor: pointer;
}

.footer-rights {
    flex-basis: 100%;
    margin-top: 10px;
    color: #fff;    
    font-size: 12px;
}

@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-links {
        margin-top: 10px;
    }
}
