.footer {
    padding: 20px;
    background-color: #2d3ab1;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, sans-serif;
}

.footer-nav-logo {
    display: flex;
    align-items: center;
}

.footer-nav-logo .logo {
    margin-right: 10px;
}

.footer-brand-name {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}

.footer-rights {
    margin-right: 20px;
}
