.card-container {
    width: 50%;
    padding: 20px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.card-title {
    text-align: center;
}

.card-info {
    text-align: center;
    color: #666;
    margin-bottom: 20px;
}

.card-detail {
    margin-bottom: 20px;
}

.card-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.button {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
}

.button-edit {
    background-color: #4CAF50;
}

.button-delete {
    background-color: #f44336;
}
